<h1 class="multipleBlogs">List of Blogs</h1>

<div class="blogPostList">
  <% @blogs.each do |b| %>
    <div class="blogTitle"><%= b.title %></div>
    <br>
    <div class="blogContent"><%= b.content %></div>
    <div class="blogUser"><%= b.user.username %></div>

      <a href="/blogs/<%= b.id %>">Make a comment</a>

      <br>
      <br>
      <% b.comments.each do |c| %>
      <a href="/comments/<%= c.id %>/edit">Edit comment</a>
      <div class="commentSection"><%= c.content %></div>
      <br>

      <% end %>

      <hr>
      <% end %>
</div>
