<h1 class="blogPageTitle">Blog Page</h1>

<div class="blogShow">
  <% if @blog.user_id === current_user.id %>
  <div class="linkTitle"><%= @blog.title %><%= link_to "Edit Blog", edit_blog_path %></div>
  <% end %>
  <div class="linkContent"><%= @blog.content %></div>
</div>

<h3 class="addComment">Add a comment: </h3>

<div class="textArea">
<%= form_for @comment do |f| %>
<%= f.text_area :content%>
<%= hidden_field_tag "blog_id", @blog.id %>
<%= f.submit "Enter"%>
</div>
<% end %>
