<h1 class="profileTitle"><%= @user.username %><div class="profileEditLink"><%= link_to "Edit Profile", edit_user_path %></div></h1>

<div class="profileUserShow">
  <div><%= @user.email %></div>
<br>

<%= link_to "Start A Blog", blogs_new_path %>


<div class="profilePage">
<% @user.blogs.each do |b| %>
<br>
<hr>
<div id="UserBlogTitle"><%= b.title %><a href="/blogs/<%=b.id %>/edit"><strong>"Edit Your Blog"</strong></a></div>
<br>
<div id="UserBlogContent"><%= b.content %></div>
<hr>

<div><a href="/blogs/<%=b.id %>/">"Blog Page"</a></div>

<% end %>
</div>
