<!DOCTYPE html>
<html>
  <head>
    <title>MikeFolder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar">
    <%= link_to "Home", "/" %>
    <%= link_to "Sign Up", new_user_path %>
    <%= link_to "Log In", signin_path %>

    <% if !logged_in? %>
    <% end %>

    <% if logged_in? %>
    <% end %>

    <%= link_to "Log Out", "/" %>
    <%= link_to "View Blogs", blogs_path %>
  </nav>
  <div class=design>
    <p id="about">Welcome to <strong>Comic-Media</strong> Blog, where we blog about comic book movies and t.v. shows from various cinematic universe.<br>
      Here users are given the platform to discuss in forms about characters, narratives, stroyline, blockbuster film deals, etc.
    </p>
  </div>

    <%= yield %>
    <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </body>
</html>
